# Created by .ignore support plugin (hsz.mobi)
node_modules/**/*
build/**/*
.DS_Store
npm-debug.*
.idea
/.idea/
/.idea/*
.vscode
/.vscode/
/.vscode/*
.gradle
*.d.ts
*.js
*.js.map
*.jsx.map
*.jsx
/package-lock.json
!/babel.config.js
!/.eslintrcNew.js
!/.eslintrc.js
!/.prettierrc.js
!/globals.d.ts
!/custom.d.ts
!/jest.config.js
!/tsconfigNew.json
!/src/react-app-env.d.ts
!/webpack.config.js
!sb_analytics.js
!__mocks__/styleMock.js
!.storybook/main.js
!.storybook/preview.js
!/src/sbrf-web-ui/modules/2gis/2gis-maps.d.ts