$white: #ffffff;
$black: #111111;

// START TODO
$graphite: #303336;
$gray: #a79e8e;
$grayishOrange: #fbeed6;
$green: #7cf59f;
$greenLight: #acf8c2;
$red: #ff4d4f;
// END TODO

$asphalt01: #919dac;
$asphalt02: #e8edf3;
$asphalt03: #d8e0eb;
$asphalt04: #e3e8ee;
$asphalt05: #e6e9f2;

$sky01: #232360;
$sky02: #5051f9;
$sky03: #1da7ff;
$sky04: #62c2ff;
$sky05: #edecfe;

$snowy01: #fbfaff;
$snowy02: #f3f4f8;
$snowy03: #faf9fe;

$graphite01: #414141;

$ruby01: #ff4d4f;
